<form>
  <div class="form-group">
    <label for="title">name</label>
    {{input value=name id="name" class="form-control" }}
  </div>

  <div class="row">
    <button class="btn btn-primary pull-right" {{action 'saveCity'}} >Create</button>
  </div>
</form>
