<footer>
  <div class="container">
    <div class="social center-text footer-icons">
      {{#link-to 'new-post'}}<a href="#">Add a listing</a>{{/link-to}}
      <a target="_blank" href="https://www.facebook.com/andrew.haupt.7" class="footer-link">{{fa-icon "facebook-official" size=2}}</a>
      <a target="_blank" href="https://github.com/ajhaupt7" class="footer-link">{{fa-icon "github-square" size=2}}</a>
      <a target="_blank" href="https://www.linkedin.com/in/andrewhaupt2015" class="footer-link">{{fa-icon "linkedin-square" size=2}}</a>
    </div>
    <p class="center-text"></p>
    <p class="center-text"><a target="_blank" class="footer-link" href="#"></a></p>
  </div>
</footer>
