<div class="col-md-4">
  <div class="post-wrapper">
    <div class="post-title">
      {{model.title}}
    </div>
    <hr>
    <div class="post-image">
      <img src={{model.image}} alt="picture">
    </div>
    <hr>
    <div class="post-time">
      {{model.category.name}} &mdash; {{moment-from-now model.time}}
    </div>
  </div>
</div>
