// fonts/icons
@import "bower_components/font-awesome/scss/font-awesome";

// colors
$black: #000;
$gray: #333;
$white: #fff;
$accent: #FF6666;
$lighten: lighten($accent, 10%);
$darken: darken($accent, 10%);


// font sizes
// $small:
// $medium:
// $large:
// $huge:

// helpers
.center-text {
  text-align: center;
}

// buttons
.btn {
  border-radius: 0px;
}

.btn-primary {
  background: $white;
  color: $gray;
  border: $accent;
  transition: background 0.5s linear;
  &:hover {
    background: $accent;
    color: $gray;
    transition: background 0.5s linear;
  }
}

// general
#content-wrapper {
  margin-top: 6%;
  min-height: 100vh;
}

body {
  background: url('/assets/images/wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: $white;
  a {
    text-decoration: none;
    color: $white;
    transition: color 0.5s linear;
    &:hover {
      text-decoration: none;
      color: $accent;
      transition: color 0.5s linear;
    }
  }
}

h1 {
  font-family: 'Condiment', cursive;
  font-size: 5em;
  color: $accent;
  text-shadow: 2px 2px $darken;
}

/* Navigation
================*/

.navbar-default {
  background: rgba(255, 255, 255, 0);
  color: $white;
}

.navbar-default .navbar-toggle{
  border-color:$white;
  background:#006B6B;
  color: $white;
}

.navbar-default .navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
  border-color:$white;
  background:$accent;
  color: $white;
}

.navbar-default .navbar-brand {
  color: $white;
  font-family: 'Condiment', cursive;
  &:hover {
    color: $accent;
  }
}

.navbar-default .navbar-text {
  color: $white;
}

.navbar-default .navbar-text:hover {
  color: $accent;
}

.navbar-default .navbar-nav > li > a {
  color: $white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $accent;
}

/* Labels
================*/

.label {
  &:hover {
    cursor: pointer;
  }
}

/* forms
================*/
label {
  font-weight: 300;
}

.form-control {
  border-radius: 0px;
}

/* post-tile
================*/
.post-wrapper {
  border: 2px solid $accent;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin-top: 8%;
}

.post-title {
  text-align: center;
  font-size: 1.5em;
  margin-top: 5%;
}

.post-image img {
  width: 32rem;
  margin-left:3.5%;
  border-radius: 1rem;
}

.post-time {
  text-align: center;
  font-weight: 300;
  margin-bottom: 4%;
}

/* ind-post-page
================*/
.ind-post-title {
  text-align: center;
  font-size: 4em;
  font-family: 'Condiment', cursive;
  margin-top: 5%;
}

.ind-post-body-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
}

.ind-post-body {
  border: 2px solid $accent;
  min-height: 32rem;

  border-radius: 1rem;
  p {
    margin-top: 2%;
    font-size: 1.2em;
  }
}
.ind-post-image {
  text-align: left;
}

.ind-post-image img {
  height: 32rem;
  border-radius: 1rem;
}

// footer
footer {
  color: $white;
  clear: both;
}
